<%- include("../homepartials/headers") %>
<div class=profile>

  <label for="">Name</label>
   <h4><%=pname%></h4><br>

  <label for="">Phone Number</label>
  <h4><%=pnumber%></h4><br>


  <label for="">Email Address</label>
  <h4><%=pemail%></h4><br>
</div>


<%- include("../homepartials/footer") %>
